<div class="typo3-fullDoc">

	<!-- Page header with buttons, path details and csh -->
	<div id="typo3-docheader">
		<div id="typo3-docheader-row1">
			<div class="buttonsleft"><!-- ###BUTTON_GROUP1### --><!-- ###BUTTON_GROUP1### --></div>
			<div class="buttonsright"><div class="buttongroup"><a href="#" onclick="top.ShortcutManager.createShortcut(String.fromCharCode(67,114,101,97,116,101,32,97,32,98,111,111,107,109,97,114,107,32,116,111,32,116,104,105,115,32,112,97,103,101), '', 'tools_beuser', '%2Ftypo3-gsoc%2Ftypo3%2Fmod.php%3F%26M%3Dtools_beuser%26be_user_uid%3D%26compareFlags%3D%26SET%5Bfunction%5D%3Dcompare');return false;" title="Create a bookmark to this page"><span class="t3-icon t3-icon-actions t3-icon-actions-system t3-icon-system-shortcut-new">&nbsp;</span></a></div></div>
		</div>
		<div id="typo3-docheader-row2">
			<div class="docheader-row2-left"></div>
			<div class="docheader-row2-right"></div>
		</div>

	</div>
	<!-- Content of module, for instance listing, info or editing -->
	<div id="typo3-docbody">
		<div id="typo3-inner-docbody">

			<f:render section="contents" />

		</div>
	</div>
</div>